<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-8">
            <form>
                <fieldset>
                    <legend class="text-center">Loan Management System</legend>

                    <div style="text-align: center">
                      <h1>{{message}}</h1>
                    </div>

                    <div>
                      <h1 style="text-align: center;">User Registration</h1>
                    </div>
                    <div class="form-group">
                        <label for="fName"><span class="req">* </span> First Name:  </label>
                        <input required type="text" [(ngModel)]="user.firstName" name="firstName" id="fname"
                            class="form-control phone" maxlength="28" placeholder="Enter your first name..." />
                    </div>

                    <div class="form-group">
                        <label for="lName"><span class="req">* </span> Last Name:  </label>
                        <input required type="text" [(ngModel)]="user.lastName" name="lastName" id="lName"
                            class="form-control phone" maxlength="28" placeholder="Enter your last name..." />
                    </div>

                    <div class="form-group">
                        <label for="Phonee"><span class="req">* </span> Phone:  </label>
                        <input required type="text" [(ngModel)]="user.phone" name="phone" id="Phonee"
                            class="form-control phone" maxlength="28" placeholder="Enter your phone..." />
                    </div>

                    <div class="form-group">
                        <label for="Addres"><span class="req">* </span> Address:  </label>
                        <input required type="text" [(ngModel)]="user.address" name="address" id="Addres"
                            class="form-control address" maxlength="28" placeholder="Enter your address..." />
                    </div>

                    <div class="form-group">
                        <label for="Emailee"><span class="req">* </span> Email: </label>
                        <input class="form-control" type="email" [(ngModel)]="user.email" name="email" id="Emailee" required
                            placeholder="Enter valid email address" />
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="Usernamee"><span class="req">* </span> Username: </label>
                        <input class="form-control" type="text" [(ngModel)]="user.username" name="username" id="Usernamee" required
                            placeholder="Enter valid username" />
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="Passwordd"><span class="req">* </span> Password: </label>
                        <input class="form-control" type="text" [(ngModel)]="user.password" name="password" id="Passwordd" required
                            placeholder="Enter your password" />
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="registerNow()">
                    </div>
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->

    </div>
</div>



